# ===============================
# Mode Development Configuration
# ===============================
#Jika menggunakan Docker 
#MIGRATION_PATH=file:///app/migrations

#Jika menggunakan Local
MIGRATION_PATH=file://./migrations 

RUN_MIGRATION=true
APP_MODE=dev
APP_PORT=5500
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_NAME=golang

DB_URL=mysql://root:root@tcp(localhost:3306)/golang?multiStatements=true

JWT_SECRET=supersecretkey123
JWT_ACCESS_EXPIRY=24h
JWT_REFRESH_EXPIRY=120h

MAX_IDLE_CONNECTIONS=10
MAX_OPEN_CONNECTIONS=20
MAX_IDLE_TIME=5
MAX_CONNECTION_LIFETIME=10

MYSQL_DATABASE=golang
MYSQL_USER=root
MYSQL_PASSWORD=root    
MYSQL_ROOT_PASSWORD=secret
